.App{
  display: flex;
  flex-direction: column;
}

.course-container{
  width: 100%;
  height: 65vh;
  margin: 20px;
}

.btn-container{
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  justify-content: center;
}

.btn-container .btn-add{
  width: 150px;
  height: 75px;
}

.inpt-course{
  width: 150px;
  height: 75px;
}

.btn-container .btn-calc{
  width: 150px;
  height: 75px;
}
.btn-container .btn-clear{
  background: red;
  color:white;
  width: 150px;
  height: 75px;
}